.buttons{
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
  
}
.buttonn{
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}
.edit{
    width: 60px;
}
.select{
   
    width: auto;
    padding: 0;
font-size: 15px;
margin-left: 10px;
padding: 2px 10px;
}
.carddiv{
    height: 230px;
    border-radius: 20px;
    padding: 10px;
 
    overflow: auto;
    background-color: rgb(211, 243, 193);
   
}
.card-body{  background-color: rgb(211, 243, 193);
    width: 350px;
   
    margin: 10px;
border-radius: 20px;}
.carddiv::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

.button{
    margin-left: 0px;
}
.filtersel{
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}
.inputone,.inputtwo{
    outline: none;
    border: rgb(51, 194, 51) 2px solid;
}
.inputone:focus{
    border:green solid 2px;
}
.inputtwo:focus{
    border:green solid 2px;
}
.filtersel option {
   
    background-color: white; /* Default background for options */
    color: black; /* Default text color for options */
  }
  
  .filtersel option:hover {
    background-color: lightblue; /* Change background color on hover */
    color: black; /* Ensure text color remains readable */
  }
  
  .filtersel option:checked {
    background-color: yellow; /* Background color of the selected option */
  }
  